.events-lists .page-content {
  padding-top: 0;
}

.events-list {
  margin-top: var(--vertical-content-padding);
  border-bottom: 2px solid var(--font-color);
}

.events-list .list-name {
  font-size: 2rem;
}

.events-list .list-byline {
  margin-top: 0.5rem;
}

.events-list .list-content {
  display: grid;
  grid-template-columns: 1fr;
  grid-auto-rows: 1fr;
}

.events-list .event {
  padding: 1.2rem 0;
  border-bottom: 1px dotted var(--font-color);
  display: flex;
  justify-content: space-between;
}

.events-list:last-child, .events-list .event:last-child {
  border: none;
}

.events-list .event-name {
  margin-bottom: 0.2rem;
}
