<% events.each do |event| %>
  <div class="event">
    <h4 class="event-name"><%= link_to event.name, event %></h4>
    <h4 class="event-creator">Hosted by: <%= event.creator.username %></h4>
  </div>
<% end %>
