<% content_for :page_classes do ' events-lists' end %>
<% unless events.empty? %>
  <div class="events-list">
    <h2 class="list-name"><%= list_name %></h2>
    <div class="list-without-heading">
      <% events.includes(:creator, :attendees).each do |event| %>
        <div class="event">
          <div class="event-info">
            <h3 class="event-name"><%= link_to event.name, event %></h3>
            <% if event.full_access?(curr_user) %>
              <div class="event-creator">
                <h4 class="label">Host:</h4> 
                <div class="important-link"><%= link_to event.creator.username, user_path(event.creator) %></div>
              </div>
          </div>
          <%= render 'shared/event_links', event: event, curr_user: curr_user %>
            <% else %>
              <p>Private Event</p>
          </div>
            <% end %>
        </div>
      <% end %>
    </div>
  </div>
<% end %>
