<div class="sort-select">
  <%= form_with method: :get do |form| %>
    <strong><%= form.label :sort, 'Sort by:' %></strong>
    <%= form.select :sort, [['Time of Event: Soonest First', 'tsoon'],
                            ['Time of Event: Latest First', 'tlate'],
                            ['Name: Alphabetical', 'name'],
                            ['Time Updated: Newest First', 'updated'],
                            ['Time Created: Newest First', 'created']],
                    { selected: sort },
                    { onchange: 'this.form.submit()' } %>
  <% end %>
</div>
