<h4 class="event-name"><%= @event.name %></h4>
<% if @event.full_access?(current_user) %>
  <%= render 'details', event: @event, creator: @creator, attendees: @attendees %>
<% else %>
  <p>This event is private.</p>
<% end %>
