<h1>My Invitations</h1>

<% if @invitations.empty? %>
  <div class="no-invitations">
    <p>No invitations to show!</p>
  </div>
<% end %>

<% @invitations.each do |invitation| %>
  <div class="invitation">
    <div class="invitation-link">
      <%= strong_if_condition !invitation.viewed? do %>
        <%= link_to "Invitation to Event \"#{invitation.invited_event.name}\"",
                    [invitation.invited_event, invitation] %>
      <% end %>
    </div>
    <div class="invitation-creator">
      <strong>From:</strong> <%= link_to invitation.invited_event.creator.username, user_path(invitation.invited_event.creator) %>
    </div>

  </div>
<% end %>
