<% content_for :page_classes do 'event_registrations event_registrations-new' end %>
<% content_for :page_header do %>
  <h2>Register for Event “<%= @event.name %>”</h2>
<% end %>

<%= render 'form', event_registration: @event_registration, 
                   event: @event, 
                   form_url: event_registrations_path(@event), 
                   submit_text: 'Register for Event' %>
