<h2>Register for Event "<%= @event.name %>"</h2>

<%= render 'form', event_registration: @event_registration, 
                   event: @event, 
                   form_url: event_registrations_path(@event), 
                   submit_text: 'Register for Event' %>
