.event-list {
  padding: 0.6rem 0;
  border-bottom: 2px solid var(--font-color);
}

.event-list .list-without-heading {
  display: grid;
  grid-template-columns: 1fr;
  grid-auto-rows: 1fr;
}

.event-list .event {
  padding: 1.2rem 0;
  border-bottom: 1px dotted var(--font-color);
  display: flex;
  justify-content: space-between;
}

.event-list .event:last-child {
  border: none;
}

.event-list .event-name {
  margin-bottom: 0.5rem;
}
