.events-form .where-when-subset > .label {
  display: block;
  margin-bottom: 0.6rem;
}

.events-form .where-when-fields {
  display: grid;
  grid-template-columns: repeat(2, max-content);
  gap: 1rem;
}

.events-form .where-when-fields > .field {
  justify-self: stretch;
  align-items: center;
}

.events-form .where-when-fields > .location {
  grid-column: span 2;
}

.events-form .where-when-fields label {
  display: inline;
}

.events-form .where-when-fields .date input, .where-when-fields .time input {
  width: 10rem;
}

.events-form .where-when-fields > .location input {
  flex-grow: 1;
}
