.events-index h1 {
  font-size: 3rem;
  font-weight: 700;
  text-align: center;
}

.events-index .page-header {
  padding-top: 11vh;
  padding-bottom: 11vh;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2rem;
}

.events-index .page-header img {
  width: 2.5rem;
}
