@font-face {
  font-family: 'Inter';
  src: url('Inter-VariableFont_slnt,wght.ttf') format('truetype-variations');
  font-weight: 1 999;
}

@font-face {
  font-family: 'Grandstander';
  src: url('Grandstander-VariableFont_wght.ttf') format('truetype-variations');
  font-weight: 1 999;
}

:root {
  --secondary-color: rgb(0, 96, 99);
  --tertiary-color: rgb(0, 59, 61);
  --font-color: rgb(59, 59, 59);
  --off-white-color: rgb(225, 254, 255);
  --site-font: 'Inter';
  --heading-font: 'Grandstander';
  --horizontal-content-padding: 10vw;
  --vertical-content-padding: 2rem;
}

html {
  font-size: 16px;
}

body {
  font-family: var(--site-font);
  font-size: 1rem;
  color: var(--font-color);
  line-height: 1.6rem;
}

.content > * {
  padding-left: var(--horizontal-content-padding);
  padding-right: var(--horizontal-content-padding);
}

.content > .page-content {
  padding-top: var(--vertical-content-padding);
  padding-bottom: var(--vertical-content-padding);
}

.page-header-present > .page-header {
  background-color: var(--font-color);
  color: white;
  padding-top: var(--vertical-content-padding);
  padding-bottom: var(--vertical-content-padding);
}

.label {
  display: inline;
}

.important-link {
  font-weight: 700;
  display: inline;
}

h1 {
  font-family: var(--sit-font);
  font-size: 3rem;
  font-weight: 700;
  color: white;
}

h1, h2, h3, h4, h5, ul, p, section {
  margin: 0;
}

ul {
  padding: 0 1.6rem;
  list-style-type: '⟡ ';
}

h2 {
  font-size: 1.8rem;
}

a {
  color: var(--secondary-color);
  text-decoration: none;
}

.field-with-errors {
  display: inline;
}
