body > header {
  background-color: var(--secondary-color);
  color: white;
  display: flex;
  justify-content: space-between;
  height: 14vh;
}

body > header a {
  color: white;
  text-align: center;
}

body > header > * {
  min-width: 0;
}

.nav-link {
  width: 15vw;
  display: flex;
  align-items: center;
  justify-content: center;
}

.nav-link:hover {
  background-color: var(--tertiary-color);
}

.navigation {
  display: flex;
  justify-content: space-between;
  align-items: stretch;
}

.auth, .no-auth {
  padding: 0 3rem;
  font-size: 0.9rem;
}

.auth {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
}

.user-links {
  display: flex;
  justify-content: space-between;
  gap: 1rem;
}

.no-auth {
  display: grid;
  grid-template: repeat(2, max-content) / repeat(2, max-content);
  gap: 0.5rem;
  justify-items: end;
  align-items: center;
  align-self: center;
}

.user-link {
  border-radius: 0.2rem;
  padding: 0.3rem 1.2rem;
  background-color: white;
}

.no-auth .user-link {
  border-radius: 0.2rem;
  width: 3.5rem;
  text-align: center;
}

.user-link:hover {
  background-color: var(--off-white-color);
}

.user-link a {
  color: var(--font-color);
}

.content {
  display: flex;
  flex-direction: column-reverse;
}

.flash {
  padding-top: 2rem;
}
